# load a list of delta tables into neo4j - one node per record
load: [
    # specify as a python dict, the path to delta table,
    # and node label, primary keys and properties for each node/record
    delta_table: "{ 'path': 'tests/input_data/user_table',
                    'label': 'User',
                    'primary_keys': ['id', 'firstname'],
                    'properties': ['middlename', 'lastname', 'gender', 'salary'] }"

]

# execute the following cipher queries in sequence in order to build relationships
cipher: [

    # specify cipher query
    cipher: "match (a:User)
             merge (b:UserGroup {firstName: a.firstName})
             merge (a)-[:belongs_to]->(b)
               on create set
                 b.count = coalesce(b.count, 0)+1
             return a, b",

    cipher: "another cipher"
]